:root {
  --primary: #36393f;
  --secondary: #2f3136;
  --tertiary: rgb(32, 34, 37);
  --quaternary: #292b2f;
  --quinary: #393d42;
  --senary: #828386;

  --white: #fff;
  --gray: #8a8c90;
  --chat-input: rgb(64, 68, 75);
  --symbol: #74777a;

  --notification: #f84a4b;
  --discord: #6e86d6;
  --mention-detail: #f9a839;
  --mention-message: #413f3f;

  --link: #5d80d6;

  --logo-color: #6633cc;
}

.btn {
  padding: 8px;
  margin: 5px 0;
  background-color: var(--link);
  border-radius: 5px;
  color: var(--white);
  cursor: pointer;
}

.container {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lm5 {
  margin-left: 5px;
}

.rm10 {
  margin-right: 10px;
}

.center {
  max-width: 90%;
}

.icon {
  display: inline;
  background-color: transparent;
  cursor: pointer;
}
